html, body {
    margin: 0;
    height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: black;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 2vh 1vw;
	height: 15%;
	align-items: center;
}

h1 {
	margin: 0;
}

.outputs > div,
span {
	background-color: gray;
	color: white;
	height: 2rem;
}

.outputsConverter {
	height: 6rem;
}

.outputsDifference {
	height: 10rem;
}